{% extends "base.html" %}
{% load static %}

{% block title %}Iniciar sesión - SEL4C{% endblock %}

{% block main %}

<nav class="navbar navbar-expand-lg px-3 bg-primary fixed-top shadow-sm" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'svg/logo_white.svg' %}" alt="SEL4C" height="50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex fs-5">
        <li class="nav-item px-3">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item px-3 dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acerca de
          </a>
        <ul class="dropdown-menu" data-bs-theme="light">
          <li><a class="dropdown-item" href="/about">SEL4C</a></li>
          <li><a class="dropdown-item" href="/about/team  ">El equipo</a></li>
        </ul>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active fw-semibold" aria-current="page">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="content" class="row mt-5" style="margin-right: 0;">
  <div class="col ms-5 me-3 my-4">
      <div>
          <p class="display-4 fw-bold mb-4 mt-5">
              Iniciar sesión
          <p>
      </div>
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <input name="email" type="email" class="form-control form-control-lg mb-3 rounded-pill" style="max-width: 420px;" placeholder="Correo electrónico" required>
        <div class="invalid-feedback ms-2 mb-2">
          Ingresa una dirección de correo electrónico válida.
        </div>
        <input name="password" type="password" class="form-control form-control-lg mb-3 rounded-pill" style="max-width: 420px;" placeholder="Contraseña" required>
        <div class="invalid-feedback ms-2 mb-2">
          Ingresa tu contraseña.
        </div>
        <button type="submit" class="fw-semibold btn btn-primary fs-6 px-4 py-2 rounded-pill shadow-sm mb-3">INICIAR SESIÓN</button>
      </form>
      <div>
        <p>
          ¿No tienes cuenta? <a href="/register">Regístrate</a>
        <p>
      </div>
      <div class="mt-5">
          <a href="https://tec.mx/es/ife" target="_blank"><img src="{% static 'svg/ife_logo_black.svg' %}" class="mb-3" height=100 alt="Institute for the Future of Education, Tecnológico de Monterrey"></a>
      </div>
  </div>
  <div class="col pe-0 d-none d-xl-block">
      <img src="{% static 'png/landing2.png' %}" class="float-end img-fluid">
  </div>
  <div class="col pe-0 d-xl-none">
    <img src="{% static 'png/landing.png' %}" class="float-end" style="max-width: 100vw;">
</div>
</div>

<script>
(() => {
  'use strict'
  const forms = document.querySelectorAll('.needs-validation')
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

{% endblock %}