{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - SEL4C{% endblock title %}

{% block main %}

<nav class="navbar navbar-expand-lg px-3 bg-primary fixed-top shadow-sm" data-bs-theme="dark">
    <div class="container-fluid">
      <img class="me-3" src="{% static 'svg/logo_white.svg' %}" alt="SEL4C" height="50">
      <h2 class="text-light mb-0 fw-semibold">Dashboard<span class="d-none d-md-inline"> de {{ student.user.name }}</span></h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex fs-5">
          <li class="nav-item px-3">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div id="content" class="mt-5 mx-4">
  <div class="row text-center w-100 mb-2 ps-3 pe-5 me-3 d-none d-lg-flex pt-5">
    <div class="col text-start">
      <p class="fs-4 fw-bold mb-0">Nombre</p>
    </div>
    <div class="col">
      <p class="fs-4 fw-bold mb-0">Correo electrónico</p>
    </div>
    <div class="col-7">
      <p class="fs-4 fw-bold mb-0">Progreso</p>
    </div>
  </div>
  <div class="accordion pt-5 pt-lg-0" id="accordion1">
    <div class="accordion-item bg-body-tertiary border-0 mb-3">
      <div class="accordion-header">
        <button class="accordion-button collapsed bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#{{ student.user.username|cut:"@"|cut:"." }}" aria-expanded="false" aria-controls="{{ student.user.username|cut:"@"|cut:"." }}">
          <div class="row text-center w-100 pe-3">
            <div class="col m-auto text-start">
              <p class="fs-5 fw-semibold mb-0">{{ student.user.name }} {{ student.user.first_lastname }} {{ student.user.first_lastname }}</p>
            </div>
            <div class="col m-auto d-none d-lg-block">
              <p class="fs-5 mb-0">{{ student.user.username }}</p>
            </div>
            <div class="col-7 m-auto">
              <div class="progress my-auto" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                <div class="progress-bar bg-success" style="width: {{ student.progress }}%"></div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div id="{{ student.user.username|cut:"@"|cut:"." }}" class="accordion-collapse collapse">
        <div class="accordion-body text-start">
          <div id="info" class="mb-3">
            <p class="fs-6 mb-0 d-lg-none"><strong>Correo electrónico: </strong>{{ student.user.username }}</p>
            <p class="fs-6 mb-0"><strong>Edad: </strong>{{ student.age }}</p>
            <p class="fs-6 mb-0"><strong>Género: </strong>{{ student.get_gender_display }}</p>
            <p class="fs-6 mb-1"><strong>Título más reciente: </strong>{{ student.degree.last }}</p>
            <a type="button" width="20" class="fw-semibold btn btn-secondary rounded-pill shadow-sm">ARCHIVOS</a>
          </div>
          <div id="graphs">
            <img height="400" src="https://media.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif">
          </div>   
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main %}