@font-face {
    font-family: "Raleway";
    src: url("../ttf/Raleway.ttf") format("woff2 supports variations"),
         url("../ttf/Raleway.ttf") format("woff2-variations");
    font-weight: 100 1000;
}

:root {
    --bs-font-sans-serif: "Raleway";
}

.navbar-brand {
    padding: 0;
}

.bg-primary {
    background-color: #061498 !important;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #061498;
    --bs-btn-border-color: #061498;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #06127f;
    --bs-btn-hover-border-color: #050e67;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #050e67;
    --bs-btn-active-border-color: #050d56;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #061498;
    --bs-btn-disabled-border-color: #061498;
}

.btn-outline-secondary {
    --bs-btn-color: #4a5055;
    --bs-btn-border-color: #4a5055;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4a5055;
    --bs-btn-hover-border-color: #4a5055;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3a3f43;
    --bs-btn-active-border-color: #4a5055;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #4a5055;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #4a5055;
    --bs-gradient: none;
}

.was-validated .form-control:invalid {
    margin-bottom: 0 !important;
}

.nav-link.active {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}